/* Default styles */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #FAF6F0;
  display: flex;
  justify-content: center;
  width: 100vw;
}

body {
  padding: 32px;
  max-width: 760px;
}

p {
  margin: 0;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

label {
  font-family: var(--font-serif);
  font-size: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

input {
  border: #024108;
  border-radius: 5px;
  border: 2px solid #024108;
  height: 44px;
  background-color: #FAF6F0;
}

button {
  border-radius: 4px;
  background-color: #024108;
  font-family: var(--font-mono);
  font-size: 26px;
  color: #FFFFFF;
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
  body {
    padding: 16px;
    max-width: 96vw;
  }

  label {
    font-size: 14px;
  }

  input {
    height: 36px;
  }

  button {
    font-size: 22px;
  }

  a:link {
    text-decoration: none;
  }
}