.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
text-align: center;
font-size: 40px;
padding-top: 12px;
font-family: var(--font-mono);
font-size: 40px;
}

.timeandplace{
  text-align: center;
  font-family: var(--font-serif);
  font-size: 20px;
  padding-top: 10px;
}

.calendar{
  max-width: 250px;
  padding-bottom: 10px;
}

.rsvpLink{
  font-family: var(--font-mono);
  font-size: 40px;
  color: #024108;
  display: inline-flex;
  max-height: fit-content;
  align-items: center;
}

.button {
  text-decoration: none;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.buttonSecondary{
  font-family: var(--font-mono);
  font-size: 32px;
  padding: 8px;
  text-align: center;
  border: #024108 2px solid;
  border-radius: 4px;
  width: 196px;
  color: #024108;
}

@media only screen and (max-width: 450px) {
  .title {
      font-size: 32px;
      padding-top: 8px;
  }

  .timeandplace {
      font-size: 18px;
      margin: 10px;
  }

  .rsvpLink {
      font-size: 32px;
  }

  .buttonSecondary {
      font-size: 24px;
      width: auto;
      padding: 8px 16px; /* Adjusted padding for better fit */
  }

  .buttons {
      flex-direction: column; /* Stack buttons vertically */
      align-items: center; /* Center align buttons */
      gap: 16px; /* Added gap between buttons */
  }
}